<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip's Details</title>

    <link href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../../../src/assets/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="response-message" class="alert py-3 text-center" hidden></div>
    <div class="container">
        <div class="mx-auto">
            <div class="row my-5">
                <div class="col-6 text-center" id="imageDiv">
                </div>
                <div class="col-6" id="textDiv">
                </div>
            </div>
        </div>
    </div>

    <script src="../../controllers/detail-trip/detail-trip.controller.js"></script>
</body>
</html>